.songcard__image{
  height: 250px;

  
}

.songcard__body{
    background-color: white;
}

.songcard__footer{
    background-color: #f4f0f0;
}

.songcard__title{
  color:black;
  text-decoration: none;
  &:hover{
    color: $dark-violet;
  }
}